{% if config.gallery %}
{% for gallery in config.gallery %}
<figure class="gallery">
  <div class="gallery-body">
    {% for item in gallery.body -%}
    {%- if item.image -%}
    <div class="image gallery-item{% if item.class %} {{ item.class }}{% endif %}">
      <img src="/static/pictures/{{ item.image }}" {% if item.alt %} alt="{{ item.alt }}"{% endif %} />
    </div>
    {%- elif item.video -%}
    <div class="video gallery-item{% if item.class %} {{ item.class }}{% endif %}">
      <div class="video-wrap">
        {{ item.video|safe }}
      </div>
    </div>
    {%- endif -%}
    {%- endfor %}
  </div>

  {% include "gallery/_caption.html" %}
</figure>
{% endfor %}
{% endif %}
