// Main
// ====

.section {
  border-bottom: 2px dashed color(brand);
  padding: size(gutter)*3 0;
  transition: all 300ms;

  @include at(45em) {
    padding: 18vh 0;
  }
}

.section-inner {
  margin: 0 auto;
  max-width: 45rem;
  padding: size(gutter);
}

h1 {
  @include relative-font(9vw, h1);
  color: color(brand);
}


// Home
// ----

[data-location='home'] .page {
  @include at(45em) {
    background: url('../images/cover.jpg') no-repeat scroll top right;
    background-size: auto 100%;
    padding: 30vh 0;
  }

  em {
    @include before(' | ');
    color: color(light);
    font-variant: small-caps;
  }
}


// Release
// -------

.release {
  background: linear-gradient(to top, color(overlay) size(rhythm)*6, color(overlay (rgba: 0)) size(rhythm)*14) no-repeat scroll,
              url('../images/tg-jen.jpg') no-repeat scroll;
  background-clip: padding-box;
  background-size: cover;
  padding: size(gutter)*5 0 0;
  position: relative;

  @include at(45em) {
    padding: 50vh 0 0;
  }

  .p-name {
    @include relative-font(5vw, h2);
    margin-bottom: size(shim);
  }

  .sub {
    font-variant: small-caps;
  }

  a {
    #{$link} {
      font-variant: normal;
      font-weight: bold;
    }
  }
}

.call-to-action {
  @include relative-font(5vw, h3);
  background: color(background);
  border: 2px solid color(brand);
  font-weight: bold;
  left: 50%;
  padding: size(gutter);
  position: absolute;
  top: 0;
  transform: rotate(-.5deg) translate3d(-50%, -50%, 0);
  white-space: nowrap;
}

.p-summary {
  font-variant: small-caps;
}

.presenters {
  font-variant: small-caps;

  a {
    #{$link} {
      @include relative-font(9vw, h1);
    }
  }
}

.event-details {
  list-style: disc;
  margin: size(shim) 0;
}


// intro
// -----

.intro {
  overflow: hidden;

  b {
    font-weight: bold;
  }
}

.pullquote {
  @include relative-font(4vw, 24px, 1.5);
  background: color(background);
  border: 1px solid color(light);
  box-shadow: 1px 1px 6px color(light);
  height: 0;
  margin-bottom: size(gutter);
  padding-bottom: percentage(3/5);
  position: relative;

  @include wrap-content(' ') {
    @include stretch;
    background: color(background) no-repeat scroll;
    background-size: 100% auto;
    border: 1px solid color(light);
    box-shadow: 1px 1px 6px color(light);
    transition: all 300ms ease-in-out;
    z-index: -1;
  }

  &:before {
    background-image: url('../images/herm.jpg');
    transform: rotate(-1.5deg);
  }

  &:after {
    background-image: url('../images/boxer.jpg');
    transform: rotate(1.5deg);
  }

  &:hover {
    &:before {
      transform: rotate(3deg) translate3d(20%, -20%, 0);
    }

    &:after {
      transform: rotate(-3deg) translate3d(-10%, -30%, 0);
    }
  }


  p {
    @include stretch;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 15%;
  }
}

.description {
  @extend %boilerplate;
  color: color(light);
  margin: 0 size(gutter)*2;
}


// blurbs
// ------

.blurb + .blurb {
  margin-top: size(gutter)*2;
}

.blurb-body {
  @include relative-font(5vw, h3);
  font-style: italic;
  margin-bottom: size(half-shim);

  .open,
  .close {
    color: color(brand);
    font-size: size(h2);
    font-weight: bold;
    line-height: .25;
  }

  .open {
    display: inline-block;
    margin-left: - size(gutter);
    width: size(gutter);
  }
}

.blurb-cite {
  @extend %boilerplate;
  color: color(light);
}


// contentinfo
// -----------

[role='contentinfo'] {
  @extend %boilerplate;
  @include font-size(small);
  color: color(light);
  margin: 0 auto;
  max-width: 45rem;
  padding: size(gutter)*2 size(gutter);
  text-transform: uppercase;

  strong,
  b,
  .p-name {
    font-weight: bold;
  }
}

.publisher {
  a {
    #{$link} {
      font-weight: bold;
    }
  }
}
