// Main
// ====

.section {
  border-bottom: 2px dashed color(brand);
  position: relative;
}

.inner {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: size('page');
  padding: size(gutter)*4 size(gutter);
  transition: all 300ms;

  @include at(45em) {
    padding: 18vh 0;
  }
}

h1 {
  @include relative-font(9vw, h1);
  color: color(brand);
}

b {
  font-weight: bold;
}

@mixin button {
  &,
  #{$link} {
    background: color(background);
    border: 2px solid color(action);
    border-radius: size(corners);
    display: inline-block;
    font-weight: bold;
    padding: size(shim) size(spacer);
    text-align: center;
    transition: all 150ms;
  }

  #{$focus} {
    background: color(action);
    color: contrast(action);
    text-decoration: none;
    text-shadow: 0 1px 0 color(focus);
  }

  &:active {
    border-color: color(focus);
  }
}

.section-title {
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate3d(-50%, -50%, 0);
  white-space: nowrap;
  z-index: 10;
}

.title-link {
  @include button;
  min-width: 10%;
}


// Home
// ----

.page {
  @include at(45em) {
    background: url('../images/cover.jpg') no-repeat scroll top right;
    background-size: auto 100%;

    .container {
      padding: 25vh size(gutter);
    }
  }

  em {
    @include before(' | ');
    color: color(light);
    font-variant: small-caps;
  }

  p:not(:last-child) {
    margin-bottom: size(spacer);
  }

  [href*='springgunpress.com'] {
    @include button;
  }
}


// Bookstore
// ---------

.maps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15vh size('gutter');

  iframe {
    width: 100%;
    height: 30vw;
  }
}

.store {
  flex: 1 1 14rem;
  margin: size('shim');
}

.store-name {
  @include font-size('h3');
}

.map-container {
  position: relative;
}

.map-overlay {
  @include stretch;
}


// Tour
// ----

.music {
  background: url('../images/ums.jpg') no-repeat scroll bottom;
  background-clip: padding-box;
  background-size: cover;

  .container {
    max-width: 700px;
  }

  .album-info {
    background: color('background' ('rgba': .9));
    font-style: italic;
    padding: size('shim');
  }
}


// Art
// ---

.art-gallery {
  background: url('../images/art.jpg') no-repeat scroll;
  background-clip: padding-box;
  background-size: cover;
  padding-top: 60vh;

  .container {
    background: color('background' ('rgba': .9));
    padding: size('gutter') size('gutter') size('spacer');
    max-width: 100%;
  }

  .art-info {
    @include font-size('h3', 2);
    margin: 0 auto;
    max-width: size('page');
  }
}


// Excerpt
// -------

.pullquote {
  @include relative-font(4vw, 24px, 1.5);
  background: color(background);
  border: 1px solid color(light);
  box-shadow: 1px 1px 6px color(light);
  height: 0;
  margin-bottom: size(gutter);
  padding-bottom: percentage(3/5);
  position: relative;

  @include wrap-content(' ') {
    @include stretch;
    background: color(background) no-repeat scroll;
    background-size: 100% auto;
    border: 1px solid color(light);
    box-shadow: 1px 1px 6px color(light);
    transition: all 300ms ease-in-out;
    z-index: -1;
  }

  &:before {
    background-image: url('../images/herm.jpg');
    transform: rotate(-1.5deg);
  }

  &:after {
    background-image: url('../images/boxer.jpg');
    transform: rotate(1.5deg);
  }

  &:hover {
    &:before {
      transform: rotate(3deg) translate3d(20%, -20%, 0);
    }

    &:after {
      transform: rotate(-3deg) translate3d(-10%, -30%, 0);
    }
  }

  p {
    @include stretch;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 15%;
  }
}


// blurbs
// ------

.blurb + .blurb {
  margin-top: size(gutter)*2;
}

.blurb-body {
  @include relative-font(5vw, h3);
  font-style: italic;
  margin-bottom: size(half-shim);

  .open,
  .close {
    color: color(brand);
    font-size: size(h2);
    font-weight: bold;
    line-height: .25;
  }

  .open {
    display: inline-block;
    margin-left: - size(gutter);
    width: size(gutter);
  }
}

.blurb-cite {
  @extend %boilerplate;
  color: color(light);
}


// Intro
// -----

.intro {
  background: url('../images/open-box.jpg') no-repeat scroll center;
  background-size: cover;

  .container {
    @include at(45em) {
      margin: 0 10% 0 40%;
      padding: 25vh size(gutter);
    }
  }

  .description {
    @extend %boilerplate;
  }
}


// OddBook
// -------

.oddbook {
  p {
    padding: size(gutter) size(spacer)*2;
  }
}


// contentinfo
// -----------

[role='contentinfo'] {
  @extend %boilerplate;
  @include font-size(small);
  color: color(light);
  margin: 0 auto;
  max-width: 45rem;
  padding: size(gutter)*2 size(gutter);
  text-transform: uppercase;

  strong,
  b,
  .p-name {
    font-weight: bold;
  }
}

.publisher {
  a {
    #{$link} {
      font-weight: bold;
    }
  }
}
