// Main
// ====

[role="main"] {
  max-width: 45rem;
  padding: size(gutter) size(spacer);

  i {
    background: color(overlay);
    padding: 0 size(shim) 0 0;
  }
}


// Quotes
// ------

.quotes {
  padding: size(gutter) 0;

  blockquote + blockquote {
    margin-top: size(gutter);
  }

  .text {
    @include font-size(h3);
    font-style: italic;
  }

  .open,
  .close {
    color: color(brand);
    display: inline-block;
    font-size: size(h2);
    font-weight: bold;
  }

  .open {
    content: '“';
    margin-left: - size(gutter);
    width: size(gutter);
  }

  .close {
    content: '”';
  }

  cite {
    display: block;

    &:before {
      content: '— ';
    }
  }
}


// Release
// -------

.release {
  border-left: color(brand) solid size(shim);
  margin-bottom: size(gutter);
  margin-left: - size(shim);
  padding: size(gutter) size(shim);
  text-shadow: 0 1px 0 color(background),
               0 -1px 0 color(background),
               1px 0 0 color(background),
               -1px 0 0 color(background),
               1px 1px 0 color(background),
               -1px -1px 0 color(background);

  [href*='teacupgorilla'] {
    #{$link} {
      @include font-size(h1);
      color: color(action);
    }
  }

  .p-name {
    @include font-size(h2);
    margin-bottom: size(gutter);
  }

  .sub {
    font-variant: small-caps;
  }
}


// Details
// -------

.details {
  padding: size(gutter) 0;

  b {
    font-weight: bold;
  }
}
