
.splash {
  align-items: center;
  background: url('../images/cover.jpg') no-repeat fixed right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  body {
    background: rgba(color('background'), .85);
    height: auto;
    padding: 1rem;
    text-align: center;
    text-shadow: 0 1px 0 color(background);
  }

  h1 {
    color: color(alt);
    font-size: 8vmin;
    line-height: 8vmin;
    margin: 0;
  }

  p {
    margin: 0;
  }

  a {
    &:link,
    &:visited {
      color: color(text);
      font-weight: bold;
    }

    &:hover,
    &:focus,
    &:active {
      color: color(alt);
    }
  }
}

