// SVG Art
// =======

@keyframes blur {
  0%, 60%, 75%, 80%, 100% {
    filter: blur(0);
  }

  70% {
    filter: blur(1.5px);
  }

  95% {
    filter: blur(3px);
  }
}

@keyframes shake {
  0%, 5%, 42%, 48%, 100% {
    transform: translate3d(0, 0, 0) scale(1);
  }

  10% {
    transform: translate3d(-1px, -3px, 0) scale(1.006);
  }

  20% {
    transform: translate3d(-5px, 0, 0) scale(1);
  }

  30% {
    transform: translate3d(0, 3px, 0) scale(.994);
  }

  40% {
    transform: translate3d(1px, -1px, 0) scale(.994);
  }

  50% {
    transform: translate3d(-1px, 3px, 0) scale(1);
  }

  60% {
    transform: translate3d(-5px, 1px, 0) scale(1.006);
  }

  70% {
    transform: translate3d(3px, 1px, 0) scale(1.01);
  }

  80% {
    transform: translate3d(-1px, -1px, 0) scale(1.01);
  }

  90% {
    transform: translate3d(3px, 3px, 0) scale(1);
  }

  100% {
    transform: translate3d(1px, -3px, 0) scale(1);
  }
}

@keyframes glitch {
  0% {
    opacity: 1;
    transform: skewX(0deg);
  }

  20% {
    transform: skewX(0deg);
  }

  21% {
    transform: skewX(-3deg);
  }

  35% {
    opacity: .5;
    transform: skewX(0deg);
  }

  35.5% {
    opacity: .25;
    transform: skewX(70deg);
  }

  36% {
    transform: skewX(-60deg);
  }

  36.5% {
    opacity: .5;
    transform: skewX(0deg);
  }

  100% {
    opacity: 1;
    transform: skewX(0deg);
  }
}

.art {
  animation: blur 21s 3s ease infinite;
}

@for $i from 1 through 10 {
  .image--#{$i} {
    animation: shake random(30)+30s random(10)+3s linear infinite;
  }

  .mask--#{$i} {
    animation: shake random(30)+30s random(10)+3s linear infinite;
  }
}

.text {
  @include font-family('body');
  @include font-size(h3);
  animation: shake random(30)+30s random(10)+3s linear infinite;
}

.tspan {
  animation: glitch 17s infinite;
}


// Denver
// ------

@keyframes sunrise {
  0% {
    transform: rotate(-40deg)
               translate3d(500px, 0, 0)
               rotate(40deg);
  }

  100% {
    transform: rotate(0deg)
               translate3d(500px, 0, 0)
               rotate(0deg);
  }
}

.wiring2-mask {
  transform-origin: top left;
}

.sunrise-wrap {
  transform: translate3d(-425px, 300px, 0);
}

.sunrise {
  animation: sunrise 180s infinite alternate ease-in-out;
}

