// SVG Art
// =======

@keyframes blur {
  0%, 60%, 75%, 80%, 100% {
    filter: blur(0);
  }

  70% {
    filter: blur(1.5px);
  }

  95% {
    filter: blur(3px);
  }
}

@keyframes shake {
  0%, 5%, 42%, 48%, 100% {
    transform: translate3d(0, 0, 0);
  }

  10% {
    transform: translate3d(-1px, -3px, 0);
  }

  20% {
    transform: translate3d(-5px, 0, 0);
  }

  30% {
    transform: translate3d(0, 3px, 0);
  }

  40% {
    transform: translate3d(1px, -1px, 0);
  }

  50% {
    transform: translate3d(-1px, 3px, 0);
  }

  60% {
    transform: translate3d(-5px, 1px, 0);
  }

  70% {
    transform: translate3d(3px, 1px, 0);
  }

  80% {
    transform: translate3d(-1px, -1px, 0);
  }

  90% {
    transform: translate3d(3px, 3px, 0);
  }

  100% {
    transform: translate3d(1px, -3px, 0);
  }
}

@keyframes glitch {
  0% {
    opacity: 1;
    transform: skewX(0deg);
  }

  20% {
    transform: skewX(0deg);
  }

  21% {
    transform: skewX(-3deg);
  }

  35% {
    opacity: .5;
    transform: skewX(0deg);
  }

  35.5% {
    opacity: .25;
    transform: skewX(70deg);
  }

  36% {
    transform: skewX(-60deg);
  }

  36.5% {
    opacity: .5;
    transform: skewX(0deg);
  }

  100% {
    opacity: 1;
    transform: skewX(0deg);
  }
}


.art {
  animation: blur 21s 3s ease infinite;
}

@for $i from 1 through 10 {
  .image--#{$i} {
    animation: shake random(10)*7s random(10)*3s linear infinite;
  }

  .mask--#{$i} {
    animation: shake random(10)*7s random(10)*3s linear infinite;
  }
}

.text {
  @extend %body;
  @include font-size(h3);
  animation: shake random(10)*7s random(10)*3s linear infinite;
}

.tspan {
  animation: glitch 17s infinite;
}
