// Base
// ====

@import 'license.config';
@import 'requirements.config';
@import 'colors.config';
@import 'scale.config';
@import 'fonts.config';

@import '../../node_modules/accoutrement-init/sass/init';

@include import-webfonts;
@include global-box-sizing;

html {
  @include font-family('body');
  @include baseline;
  background: color(background);
  color: color(text);
  text-shadow: 0 1px 0 color(background);
}

html,
body {
  height: 100%;
}

$link: '&:link, &:visited';
$focus: '&:hover, &:focus, &:active';

a {
  #{$link} {
    color: color(action);
    text-decoration: none;
  }

  #{$focus} {
    color: color(focus);
    text-decoration: underline;
  }
}
