// Colors
// ======

$colors: (
  'black': #000,
  'white': #fff,
  'red': #c00,

  background: 'white',
  text: 'black',
  light: text (tint: 60%),
  brand: 'red',

  overlay: background (rgba: .9),

  action: brand,
  focus: brand (shade: 15%),

  contrast-dark: 'black',
  contrast-light: 'white',
);
