// Fonts
// =====

$font-formats: 'woff2' 'woff' 'ttf';

$fonts: (
  boilerplate: (
    name: 'franklin',
    path: 'franklin/franklingothic-%s%s-webfont',
    styles: (regular, bold, italic, bold italic),
    stack: ('Helvetica Neue', Helvetica, Arial, sans-serif),
  ),

  body: (
    name: 'rockingham',
    path: 'rockingham/rockingham-%s%s-webfont',
    styles: (regular, bold, italic, bold italic),
    stack: ('Helvetica Neue', Helvetica, Arial, sans-serif),
  ),
);
