// Fonts
// =====

$font-formats: 'woff2' 'woff' 'ttf';

$fonts: (
  'boilerplate': (
    'name': 'franklin',
    'regular': 'franklin/franklingothic-regular-webfont',
    'bold': 'franklin/franklingothic-bold-webfont',
    'italic': 'franklin/franklingothic-italic-webfont',
    'bold' 'italic': 'franklin/franklingothic-bolditalic-webfont',
    'stack': ('Helvetica Neue', Helvetica, Arial, sans-serif),
  ),

  body: (
    'name': 'rockingham',
    'regular': 'rockingham/rockingham-regular-webfont',
    'bold': 'rockingham/rockingham-bold-webfont',
    'italic': 'rockingham/rockingham-italic-webfont',
    'bold' 'italic': 'rockingham/rockingham-bolditalic-webfont',
    'stack': ('Helvetica Neue', Helvetica, Arial, sans-serif),
  ),
);
