// Scale
// =====

$base-size: 18px;

$ratios: (
  'r': 4/3,
);

$sizes: (
  root: $base-size,
  normal: root,
  rhythm: normal (r: 1),

  h1: normal (r: 4),
  h2: normal (r: 3),
  h3: normal (r: 2),

  small: normal (r: -1),

  gutter: rhythm,
  spacer: normal (r: 3),

  corners: normal (r: -2),
  page: 45rem,

  shim: gutter (linear: 0.5),
  half-shim: gutter (linear: 0.25),
);


@mixin relative-font(
  $relative,
  $fixed,
  $lines: false,
  $edge: min-width
) {
  font-size: $relative;
  line-height: $relative * map-get($ratios, r);

  $context: size($fixed, px) / ($relative / 100vw) / 16px * 1em;

  @if $edge == min-width {
    @include above($context) {
      @include font-size($fixed, $lines);
    }
  } @else {
    @include below($context) {
      @include font-size($fixed, $lines);
    }
  }
}
