// Scale
// =====

$base-size: 18px;

$ratio: (4/3);

$sizes: (
  normal: 18px,
  rhythm: 1,

  h1: 4,
  h2: 3,
  h3: 2,

  small: -1,

  gutter: rhythm,
  spacer: 3,

  corners: -2,
);

$meta-sizes: (
  shim: size(gutter)/2,
  half-shim: size(gutter)/4,
);

$sizes: map-merge($sizes, $meta-sizes);


@mixin relative-font(
  $relative,
  $fixed,
  $lines: false,
  $edge: min-width
) {
  @include font-size($fixed, $lines);
  font-size: $relative;
  line-height: $relative * $ratio;

  $context: size($fixed, px) / ($relative / 100vw) / 16px + 'em';

  @include at($edge $context) {
    @include font-size($fixed, $lines);
  }
}
