{% import "blog/macros.j2" as blog %}

{%- for module in config.before -%}
  {% include module.include %}
{%- endfor -%}

<article class="page section">
<div class="section-inner">
  {%- if not config.hide_title %}
    {{ rst.html_title }}
  {%- endif %}

  {{ blog.byline(ctx) }}

  {% if rst.fragment %}
    <div class="body">
      {{ rst.fragment }}
    </div>
  {% endif %}
</div>
</article>

{%- for module in config.after -%}
  {% include module.include %}
{%- endfor -%}
