{% extends "base.html" %}

{% block template %}
<main role="main">
  {% block body %}{% endblock %}
</main>

<footer role="contentinfo">
  <p class="copyright">
    <strong>{{ config.title }}</strong>
    © {{ config.copyright }}
    <a href="http://ericsuzanne.com" class="p-name">
      {{ config.author_full }}
    </a>
    |
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">
      some rights reserved
    </a>
  </p>

  <p class="publisher">
    Published by
    <a href="http://springgunpress.com">
      SpringGun Press
    </a>
    and distributed to the trade by
    <a href="http://www.spdbooks.org/Producte/9780986176401/riding-sidesaddle.aspx">
      Small Press Distribution
    </a>
    <br />
    Created using <a href="http://oddbooksapp.com/">OddBooks</a>
    and released online by <a href="http://oddbird.net/">OddBird</a>
  </p>
</footer>
{% endblock %}
