<!-- Theater -->

<article class="art-gallery section">
<div class="container">
  <h2 class="section-title">
    <a href="https://oddbooksapp.com/book/10-myths" class="title-link">
      Read the stage adaptation »
    </a>
  </h2>

  <div class="art-info">
    <h3>
      10 Myths
      on the
      Proper Application
      of
      Beauty Products
    </h3>
    <p>
      <strong>March 4-26, 2016</strong> —
      <a href="http://buntport.com/archive/archive.htm">Buntport Theater</a>
      and
      <a href="http://teacupgorilla.com">Teacup Gorilla</a>
      collaborated on
      a live performance
      that adapts and supplements
      the novel.
      Six characters sharing one bathroom,
      with a full band in the bathtub —
      what could go wrong?
    </p>
  </div>
</div>
</article>
