<!-- Tour -->

<article class="art-gallery section">
<div class="container">
  <h2 class="section-title">
    <a href="https://goo.gl/maps/P1nk6JQameD2" class="title-link">
      See the art ▼
    </a>
  </h2>

  <p class="art-info">
    The entire novel (with expanded artwork) is hanging at
    <a href="https://goo.gl/maps/P1nk6JQameD2">
      Huckleberry Roasters Larimer Cafe
    </a>
    Oct 9 — Nov 13.
  </p>
</div>
</article>
