<!-- Book Blurbs -->

{% if config.blurbs %}
<article class="blurbs section">
<div class="container">
  <h2 class="section-title">
    <a href="http://www.michiganquarterlyreview.com/2015/06/on-riding-sidesaddle-an-interview-with-eric-suzanne/" class="title-link">
      Read the <b>Press</b> »
    </a>
  </h2>

{% for blurb in config.blurbs %}

  <figure class="blurb">
    <blockquote class="blurb-body">
      <span class="open">“</span>{{ blurb.body|safe }}<span class="close">”</span>
    </blockquote>

    <figcaption class="h-card blurb-cite">
      —
      {% if blurb.cite %}
        {% if blurb.cite_url %}
          <a href="{{ blurb.cite_url }}" class="p-name">{{ blurb.cite }}</a>{% if blurb.org %},{% endif %}
        {% else %}
          <span class="p-name">{{ blurb.cite }}</span>{% if blurb.org %},{% endif %}
        {% endif %}
      {% endif %}

      {% if blurb.org %}
        {% if blurb.org_url %}
          <a href="{{ blurb.org_url }}" class="p-org">{{ blurb.org }}</a>
        {% else %}
          <span class="p-org">{{ blurb.org|safe }}</span>
        {% endif %}
      {% endif %}
    </figcaption>
  </figure>

{% endfor %}
</div>
</article>
{% endif %}

