<article class="bookstore section">
  <h2 class="section-title">
    <a href="http://citystacks.com/" class="title-link">
      Available at <b>City Stacks Bookstore</b> ▼
    </a>
  </h2>
  <a href="https://www.google.com/maps/place/City+Stacks:+Books+%26+Coffee/@39.753813,-104.995155,14z/data=!4m2!3m1!1s0x0:0xa97abbd4a7f42bea?hl=en-US" class="map-overlay"></a>
  <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12269.654265407033!2d-104.99836!3d39.752822!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa97abbd4a7f42bea!2sCity+Stacks%3A+Books+%26+Coffee!5e0!3m2!1sen!2sus!4v1429742157984" frameborder="0"></iframe>
</article>
