<article class="bookstore section">
  <h2 class="section-title">
    <a href="http://citystacks.com/" class="title-link">
      Find a <b>Bookstore</b> ▼
    </a>
  </h2>

  <div class="maps">
    {% for store in config.bookstores %}
    <figure class="store">
      <figcaption class="store-name">
        <a href="{{ store.url }}">{{ store.name }}</a>
      </figcaption>
      <div class="map-container">
        {{ store.map|safe }}
        <a href="{{ store.map_url }}" class="map-overlay"></a>
      </div>
    </figure>

    {% endfor %}
  </div>
</article>
