<!-- Intro -->

<article class="intro section">
<div class="container">
  <h2 class="section-title">
    <a href="http://www.springgunpress.com/riding-sidesaddle-eric-suzanne/" class="title-link">
      Order yours now!
    </a>
  </h2>

  <p class="description">
    <b>{{ config.title }}</b>
    is a fragmented memory written on
    250 interchangeable index cards —
    following a cast of friends as they navigate
    fluid genders, relationships,
    and bodies that resist order, category, or completion.
    Based loosely on the life of Margaret Clap,
    and the myth of Salmacis and Hermaphroditus —
    SideSaddle* is an
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
      open-source text
    </a>
    published by
    <a href="http://springgunpress.com">SpringGun Press</a>,
    <a href="http://oddbooksapp.com/book/ridingsidesaddle">released online</a>
    by
    <a href="http://oddbird.net/">OddBird</a>,
    and adapted to the stage by
    <a href="http://buntport.com/archive/archive.htm">Buntport Theater</a>
    and
    <a href="http://teacupgorilla.com">Teacup Gorilla</a>.
  </p>
</div>
</article>
