<!-- Tour -->

<article class="music section">
<div class="container">
  <h2 class="section-title">
    <a href="https://teacupgorilla.bandcamp.com/releases" class="title-link">
      Hear the Music ▼
    </a>
  </h2>

  <div class="album-embed">
    <iframe style="border: 0; width: 100%; height: 310px;" src="https://bandcamp.com/EmbeddedPlayer/album=1383025660/size=large/bgcol=ffffff/linkcol=ef3939/artwork=small/transparent=true/" seamless><a href="http://teacupgorilla.bandcamp.com/album/the-holes-they-leave">The Holes They Leave by Teacup Gorilla</a></iframe>
  </div>

  <p class="album-info">
    <a href="http://teacupgorilla.com">Teacup Gorilla</a>'s debut EP
    is built around words from the novel.
    You can also find it on
    <a href="http://open.spotify.com/artist/4IAoUcTC0NUX5j9JMGLTRV">Spotify</a>,
    <a href="https://itunes.apple.com/us/artist/teacup-gorilla/id1016168345">iTunes</a>,
    <a href="http://www.amazon.com/Holes-They-Leave-Teacup-Gorilla/dp/B010XWM06Q/">Amazon</a>,
    <a href="https://play.google.com/store/music/artist/Teacup_Gorilla?id=Afdkqtqywb3bqmlsurcupcqpbzy">Google Play</a>,
    and <a href="http://rd.io/x/QFp1PhnPDA/">Rdio</a>.
  </p>
</div>
</article>
