
<article class="oddbook section">
<div class="container">
  <h2 class="section-title">
    <a href="http://www.oddbooksapp.com/book/ridingsidesaddle" class="title-link">
      Read it online!
    </a>
  </h2>

  <a href="http://www.oddbooksapp.com/book/ridingsidesaddle">
    {% include 'svg/_oddbooks.svg' %}
  </a>

  <p>
    Riding SideSaddle*
    was written using the <a href="http://www.oddbooksapp.com">OddBooks</a> editor,
    and is <a href="http://www.oddbooksapp.com/book/ridingsidesaddle">available online</a>
    with aditional multimedia features (still in development),
    including links, tags, animations, music,
    and tools for open-source collaboration.
  </p>
</div>
</article>
