<!-- Release Party -->

<article class="release h-event section">
<div class="section-inner">
  <div class="call-to-action">
    Join us for the
    <a href="https://www.facebook.com/events/786303171446670/">release party</a>!
  </div>

  <p class="presenters">
    <a href="http://teacupgorilla.com/">Teacup Gorilla</a>
    presents:
  </p>

  <h2 class="p-name">
    {{ config.title }}
    <span class="sub">[a novel affair]</span>
  </h2>

  <p class="p-summary">
    with special guests
    <a href="www.jkandtheloss.com">Jen Korte</a>
    and
    <a href="www.opentothehound.com">Open to the Hound</a>.
  </p>

  <ul class="event-details">
    <li class="p-location">
      <a href="physicopera.com">Syntax Physic Opera</a>
      [554 s broadway]
    </li>
    <li class="dt-start">
      <a href="https://www.facebook.com/events/786303171446670/">
        <time datetime="2015-04-02T20:30:00-07:00">April 2, 8:30pm</time>
      </a>
      [$7 cover]
    </li>
  </ul>
</div>
</article>
