<!-- Tour -->

<article class="tour h-event section">
<div class="container">
  <h2 class="section-title">
    <a href="http://teacupgorilla.com/" class="title-link">
      Find us on tour ▼
    </a>
  </h2>

  <h3 class="p-name">
    <a href="http://teacupgorilla.com">Teacup Gorilla</a>
    Midwest Tour
  </h3>
  <p class="p-summary">
    Teacup Gorilla is on the road
    with the novel and corresponding EP,
    <a href="https://teacupgorilla.bandcamp.com/album/the-holes-they-leave">The Holes They Leave</a>.
    <a href="http://teacupgorilla.com/gorillamail" style="display: inline-block;">
      Join our mailing list
    </a>
    to stay up to date!
  </p>
</div>
</article>
