<!-- Tour -->

<article class="tour section">
<div class="container">
  <h2 class="section-title">
    <a href="http://www.miriamsuzanne.com/2016/12/09/resistence-tour/" class="title-link">
      Resistance Tour »
    </a>
  </h2>

  <div class="tour-info">
    <h3>
      Some Kind of
      <a href="http://www.miriamsuzanne.com/2016/12/09/resistence-tour/">Resistance Tour</a>
    </h3>
    <p>
      <strong>January 10-23, 2017</strong> —
      It’s been a month and change since our country
      pseudo-elected a bigoted blow-hard for president.
      I’m heading to DC to protest his inauguration,
      visit friends,
      and perform some mixed-media resistance,
      and cozy house readings.
    </p>
    <ul class="simple">
    <li><strong>1/12</strong> in <strong>New York, <span class="caps">NY</span></strong> (talk) <br>
    “Code Patterns for Pattern Making” at <a class="reference external" href="https://www.meetup.com/gothamsass/events/235946893/">Gotham Sass</a> <br>
    7pm @ 127 West 26th Street, 2nd floor&nbsp;(Signpost)</li>
    <li><strong>1/13</strong> in <strong>Brooklyn, <span class="caps">NY</span></strong> (reading) <br>
    <a class="reference external" href="https://www.facebook.com/events/306828783046470/">The Operating System</a> <br>
    7:30pm @ 141 Spencer St&nbsp;#203</li>
    <li><strong>1/14</strong> in <strong>Philadelphia, <span class="caps">PA</span></strong> (passing through) <br>
    Maybe listening to CAConrad and Brian Teare&#8203;
    read at <a class="reference external" href="http://www.housework-at-chapterhouse.com/readings.html">Chapterhouse</a>…?</li>
    <li><strong>1/15</strong> in <strong>Washington, <span class="caps">DC</span></strong> (reading) <br>
    <a class="reference external" href="https://www.facebook.com/events/641655696042941/">in your ear</a> with <a class="reference external" href="https://flowersintheirmouths.com/">Valerie Hsiung</a> <br>
    3pm @ <a class="reference external" href="http://www.dcartscenter.org"><span class="caps">DC</span> Arts&nbsp;Center</a></li>
    <li><strong>1/17</strong> in <strong>Baltimore, <span class="caps">MD</span></strong> (hangin’) <br>
    Hit me up,&nbsp;yeah?</li>
    <li><strong>1/18</strong> in <strong>Silver Spring, <span class="caps">MD</span></strong> (reading) <br>
    At a house,&nbsp;somewhere.</li>
    <li><strong>1/19</strong> in <strong>Fredrick, <span class="caps">MD</span></strong> (reading) <br>
    Small Rain #2 with Aaron Angello <br>
    7pm @ 415 Biggs Avenue, First&nbsp;Floor</li>
    <li><strong>1/20</strong> in <strong>Washington, <span class="caps">DC</span></strong> (avoidance) <br>
    Don’t get out of bed. Don’t turn on a&nbsp;<span class="caps">TV</span>.</li>
    <li><strong>1/21</strong> in <strong>Washington, <span class="caps">DC</span></strong> (protest) <br>
    <a class="reference external" href="https://www.womensmarch.com/">Protest</a> against <a class="reference external" href="/2017/01/01/2017/">bigotry in&nbsp;government</a>.</li>
    <li><strong>1/23</strong> in <strong>Charlottesville, <span class="caps">VA</span></strong> (talk) <br>
    “A Practical Guide to Losing Control” at <a class="reference external" href="http://scholarslab.org/"><span class="caps">UVA</span> Scholars’ Lab</a> <br>
    Details&nbsp;<span class="caps">TBA</span></li>
    </ul>
  </div>
</div>
</article>
